.navbar {
  display: flex;
  width: 1440px;
  padding: 8px 80px 0px 80px !important;
  justify-content: space-between;
  align-items: center;
}
.logo-Img {
  width: 172px;
  height: 100px;
  flex-shrink: 0;
  object-fit: cover;
}
.btn {
  display: flex;
  width: 216px;
  height: 44px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 32px !important;
  border: 1px solid #000c1a !important;
}
.get-btn {
  color: #fff;

  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}
.btn-1 {
  width: 500px !important;
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
